# Byte-compiled / optimized / DLL files

__pycache__/
*.py[cod]
*$py.class

migrations

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Django stuff:
*.log
local_settings.py
db.sqlite3
que_survey-uwsgi.ini
uwsgi_params

Que_survey/
settings.py
urls.py


