{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业需求调查问卷</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/heh_que.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="index_ad">

      <div class="show_que_point">
      <p>{{nearly_que.title}}</p>
      <img class="ad_point" src="{% static 'images/SVG/AD_point.svg' %}" alt="为中小企业解决问题促进我州经济跨越">
      <p>您的支持就是我们服务的目标</p><p>积极真实的填写</p><p>将是你获得最大支持的保障</p>
    
      <!-- 调查问卷说明 -->
      <div class="que_description">
          {{nearly_que.questionnaire_explain | safe}}
            <!-- {{nearly_que.questionnaire_explain | safe}} -->
      </div>
      </div>

        <p><a href="{% url 'company_info' %}" class="btn btn-primary btn-lg" role="button">填写问卷</a></p>


  <div class="footer">
      <p>红河州工业和信息化委员会<br>
      红河州中小企业公共服务窗口平台<br>
      &copy;红企家园</p>
  </div>

  <script src="{% static 'js/main.min.js' %}"></script>
  </body>
</html>
