{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业需求调查问卷</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/heh_que.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="index_ad">

      <div class="show_que_point">
      <img class="ad_point" src="{% static 'images/SVG/AD_point.svg' %}" alt="为中小企业解决问题促进我州经济跨越">
      
      <div class="jumbotron">
          <h2>恭喜成功完成问卷调查！</h2>
          <p>感谢您对红河州中小企业窗口服务平台的支持</p>
    </div>

  <div class="footer">
      <p>红河州工信委中小企业科<br>
      红河州中小企业服务平台<br>
      &copy;红企家园</p>
  </div>

  <script src="{% static 'js/main.min.js' %}"></script>
  </body>
</html>
