{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>企业需求调查问卷</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/heh_que.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="index_ad">

      <div class="container">
            
                <h2>调查问卷已提交！</h2>
                <h2>感谢您对红河州经济发展的支持和作出的贡献！</h2><br><br>
                <img src="{% static 'images/SVG/psp_logo.svg' %}" alt="红河州中小企业服务平台" class="psp_logo">
                <p>红河州中小企业公共服务窗口平台<br>红河企业的家园！</p>
                <p>服务红河州经济  助力中小微企业</p>
                <p>联系电话</p>
                <p><span class="step-phone">96158</span></p>
                <p>微信公众号</p>
                <img class="step-weixin-img" src="{% static 'images/平台共众号@2x.png' %}" alt=""><br>
                <p>红企家园网址</p>
                <p><a href="http://www.thinkheh.cn">thinkheh.cn</a></p>
           
      </div>

  <script src="{% static 'js/main.min.js' %}"></script>
  </body>
</html>
